<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Settings</title>
</head>
<body>
Administrator Settings<br><br>

My Labs:
<br> list with links <br>
Add new Lab
<br> <br>

My Protocols:
<br> list with links <br>
Add new Protocol
<br><br>

My Personnel:
<br> list with links <br>
Add new Personnel
<br><br>

<form action="/dashboard" method="get">
    <button type="submit">Return to Dashboard</button>
</form>
<form action="/" method="get">
    <button type="submit">Logout</button>
</form>

</body>
</html>