<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
Lab:
Administrator:
If you do not see your lab or administrator please contact the instituional database administrator to be added: LINK

Role requested:
user: allows you to enter, edit and delete information pertaining to animal husbandry
administrator: allows you to enter, edit and delete information pertaining to personnel and lab accounts

name
email
phone

I need training
I have been trained

**message request to administrator for approval
**message training staff
</body>
</html>